<%= form_for(@cash) do |f| %>
  <% if @cash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cash.errors.count, "error") %> prohibited this cash from being saved:</h2>

      <ul>
      <% @cash.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :member_id %>
  
  <div class="field">
    <%= f.label :balance %><br>
    <%= f.text_field :balance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
