<nav id="main_nav" role="navigation">
  <ul>
     <li><%= link_to "Wall", wall_path%> </li>
     <li><%= link_to "Player", player_path%> </li>
     <li><%= link_to "Investor", investor_path%> </li>
     <li><%= link_to "My account", my_account_path%> </li>
     <li><%= link_to "Cashier", cashier_path%> </li>
     <li><%= link_to "Support", support_path%> </li>
     <li><%= link_to "Events", events_path%> </li>
 </ul>
</nav>